<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light" class="login-title">
      About MemComb
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
    <ion-text color="light">
        Welcome to MemComb!<br>
        <br>
        <img src="https://o.aolcdn.com/images/dims?quality=85&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2Fb386937631a1f03665c1d57289070898%2F203417456%2Fsimpsons.jpg&client=amp-blogside-v2&signature=3f1dc8adaa673efd190ae6f6b19a916b2d84ed7c" width="350" height="222" margin-bottom="4px"/>
        <br>
        MemComb is an application that serves as your own personal memory vault. <br>
        Post pictures, notes, videos, audio, you name it to your gallery on your profile <br>
        go back to check it out anytime! Go ahead and login to get started. Memories <br>
        at your fingertips, it's only one click away! 
    </ion-text>

</ion-content>
