<ion-header>
	<ion-toolbar color="primary">
			<ion-title color="light">Event</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="dark" padding>

	<app-loading *ngIf="!post"></app-loading>

	<ion-card *ngIf="post as postData">
		<ion-img *ngIf="imageType" src="{{post.url}}"></ion-img>
		<div *ngIf="!imageType">

				<video width="640" height="420" controls>
						<source src="{{post.url}}">
						Your browser does not support the video tag.
				</video>
		</div>
		<ion-card-content>
			<p>{{ postData.myDate }}</p>
			<p>{{ postData.desc }}</p>
		</ion-card-content>
		<ion-item (click)="toggleHeart()">
			<ion-icon [name]="heartType"></ion-icon>
		</ion-item>

		<ion-textarea placeholder="Please post your comments" [(ngModel)]="commentBox"></ion-textarea>
		<ion-button (click)="submitComment()" fill="solid" color="primary" shape="round">Submit Comment</ion-button>

		<div>
			<div *ngFor="let comment of comments">
				<div class="comment-section">
					{{comment.comment}}
					<div class="author">
						{{comment.userName}}
					</div>
					<a (click)="deleteComment(comment.uid)" class="delete-btn" *ngIf="comment.userId == userId">
						Delete
					</a>
				</div>
			</div>
		</div>

		<br/>
		<ion-button (click) = "toggleHere()" fill="solid" color="primary" shape="round">I was here!</ion-button>
		<ion-card-content>
			<p> {{postData.here}} </p>
		</ion-card-content>
	</ion-card>
</ion-content>