<ion-header>
	<ion-toolbar color="primary">
			<ion-buttons slot="start">
				<ion-back-button defaultHref="/tabs/feed"></ion-back-button>
			</ion-buttons>
			<ion-title color="light">Event</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="dark" padding>

	<app-loading *ngIf="!post"></app-loading>

	<ion-card *ngIf="post as postData">
		<ion-img src="https://ucarecdn.com/{{ postID }}/-/preview/{{ effect }}"></ion-img>
		<ion-card-content>
			<p>{{ postData.desc }}</p>
		</ion-card-content>
		<ion-item (click)="toggleHeart()">
			<ion-icon [name]="heartType"></ion-icon>
		</ion-item>
		<ion-button (click) = "toggleHere()" fill="solid" color="primary" shape="round">I was here!</ion-button>
		<ion-card-content>
			<p> {{postData.here}} </p>
		</ion-card-content>
	</ion-card>
</ion-content>