<ion-header>
    <ion-toolbar color="primary">
		<ion-title color="light">Welcome to MemComb!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='dark' padding>

	<ion-list>

		<ion-item>
		  <ion-label position="floating">Username</ion-label>
		  <ion-input type="text" [(ngModel)]="username"></ion-input>
		</ion-item>
	  
		<ion-item>
		  <ion-label position="floating">Password</ion-label>
		  <ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
	  
	  </ion-list>

	  <ion-button fill="solid" expand="block" color="primary" (click)="login()">Login</ion-button>
	  <ion-button fill="solid" expand="block" color="dark" (click)="register()">New to MemComb? Signup!</ion-button>

	  <ion-item color='dark'>
			<img src="assets/img/party-pic.jpg" width="375.75" height="233" class="center"/>
		  </ion-item>
		  <ion-item color='dark'>
			<img src="assets/img/swing.jpg" width="375.75" height="233" class="center"/>
		  </ion-item>
		  <ion-item color='dark'>
			<img src="assets/img/beach.jpg" width="375.75" height="233" class="center"/>
		  </ion-item>

	</ion-content>