#images {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 100%;
	width:480px;
	height:360px;
}

.image {
	margin-left: 1px;
	margin-right: 1px;
}

.main-image, .user-image {
	width: 200px;
	height: 200px;
}

.img-wrapper {
    min-height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.cardInfo {
	font-size: 26px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.background{
	--background: url(../../assets/img/connectwork.png) repeat 100% 100%;
	
}