#images {
	margin: 0 auto;
	width: 1080px;
	max-width: 100%;}

.image {
	margin-left: 1px;
	margin-right: 1px;
}

.cardInfo {
	font-size: 27px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

ion-content.background{
	--background: url(../../assets/img/connectwork.png) repeat 100% 100%;
	
}

.headerText {
	font-size: 28px;
}