<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light" class="login-title">
      MemComb
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <ion-card class="welcome-card">
    <ion-card-header class="login-header">
      <ion-text color="light">
        Login to your MemComb account below 
      </ion-text>
      <ion-card-title color="light">
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <ion-button margin-top (click)="signIn()" *ngIf="!authenticated">Login</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="authenticated">
    <ion-card-header>
      <ion-button (click)="getUserInfo()">Get User Details</ion-button>
      <ion-button (click)="signOut()">Sign Out</ion-button>
    </ion-card-header>

    <ion-card *ngIf="userInfo">
      <ion-card-header>
        User Info
      </ion-card-header>
      <ion-card-content>
        {{userInfo | json}}
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="action">
      <ion-card-header>
        Action Data
      </ion-card-header>
      <ion-card-content>
        {{action | json}}
      </ion-card-content>
    </ion-card>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label class="login-header">
        Your Memories... at your Fingertips
        
      </ion-label>
    </ion-list-header>
    <ion-item>
      <img src="assets/img/party-pic.jpg" width="375.75" height="233" margin-bottom="4px" margin-top="4px"/>
    </ion-item>
    <ion-item>
      <img src="assets/img/swing.jpg" width="375.75" height="233" margin-bottom="4px"/>
    </ion-item>
    <ion-item>
      <img src="assets/img/beach.jpg" width="375.75" height="233" margin-bottom="4px"/>
    </ion-item>
    
  </ion-list>
</ion-content>
